<div class="jumbotron">
        <h1>Create your model</h1>
        <p class="lead">\(\beta\)First, begin with defining <code>Constants</code>, then list the chemical <code>Species</code> in
                the model, in the next step you specify the chemical <code>Reactions</code> and finally you put in 
                the <code>Rate Laws</code> that govern the reactions.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Start defining constants Now!</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Constants</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Reaction</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Species</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Rate Laws</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      

        
        </div>

      